p {
    color:black;
    font-weight:bold;
    font-size: 30px;
 }
  
 .date {
    color:black;
    font-weight:normal;
    float:right;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
 }