<li [ngClass]="{'list-group-item':true,
                'list-group-item-success':postloveIts>0,
                'list-group-item-danger':postloveIts<0,
                'list-group-item-active':postloveIts===0}">
    <p [ngStyle]="{color: getColor()}">{{ postTitle }} <span class="date">{{ postCreatedAt | date: 'short'}}</span>
    <textarea class="form-control" rows="6" [ngStyle]="{color: getColor()}" [(ngModel)]="postContent"></textarea></p>
    <button class="btn-success" 
              (click)="onLoveIt()">Love it !</button> &nbsp;
    <button class="btn-danger" 
              (click)="onDontLoveIt()">Don't love it !</button>
</li>

